<!DOCTYPE HTML>
<html lang = "en">
    <head>
        <meta charset = "UFS-8"/>
        <title></title>
    </head>
    <body>
        <form>
            <input type = "image" value = "enter image"/>
            <input type = "submit"value = "https://as2.ftcdn.net/v2/jpg/05/82/15/65/1000_F_582156555_hbyp1b5f45xGtOp2PPDngIOX4YKv7tZF.jpg" src = "https://as2.ftcdn.net/v2/jpg/05/82/15/65/1000_F_582156555_hbyp1b5f45xGtOp2PPDngIOX4YKv7tZF.jpg"/>
        </form>
    </body>
</html